[package]
name = "wino_identity"
version = "0.1.0"
description = "Wino Business Identity PDA Program"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "wino_identity"

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
default = []
idl-build = ["anchor-lang/idl-build"]

[dependencies]
anchor-lang = "0.30.1"
